peppers:
  keys:
    v1: integration-tests-not-secret
  use: v1

http:
  port: {{ .HTTPPort }}

logger:
  level: "debug"

storage:
  type: boltdb
  boltdb:
    path: "jackal.db"

admin:
  port: {{ .AdminPort }}

{{ range $idx, $vhost := .VHosts }}
{{ if eq 0 $idx }}
hosts:
{{ end }}
  - domain: {{ $vhost }}
    tls:
      cert_file: "{{ $vhost }}.crt"
      privkey_file: "{{ $vhost }}.key"
{{ end }}

shapers:
  - name: normal
    max_sessions: 10
    rate:
      limit: 65536
      burst: 32768

{{ if .C2SPort }}
c2s:
  listeners:
    - port: {{ .C2SPort }}
      req_timeout: 60s
      transport: socket
      sasl:
        mechanisms:
        - scram_sha_1
        - scram_sha_256
{{ end }}

{{- if .Modules }}
modules:
  enabled:
    {{- range .Modules }}
    - {{ . }}
    {{- end }}
{{- end }}

  version:
    show_os: true

  offline:
    queue_size: 300

  ping:
    ack_timeout: 90s
    interval: 3m
    send_pings: true
    timeout_action: kill
